#login a {
	color:#ffffff;
}

#menu li a, #panier li a {
	color:#ffffff;
}

#menu ul{
	margin-top:1em;
}


#menu ul ,#panier ul {
	list-style:none;
}

tr.success  td{
	background-color : #62af56;
}

#header2 {
	width:100%;
	display:flex;
	justify-content:flex-end;
}

#container {
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}

#content{
	flex:1;
}

#footer{
	width:100%;
}

#menu div.nav{
	background-color:#000000;
}

#menu ul.nav{
	margin-top : 0;
}


#menu div.nav h2{
	margin-top:1em;
	margin-bottom:0;
	font-size:1.2rem;
	color:#333333;
}

p.imgProduct img{
	width:64px;
	height : 64px;
}

p.imgProduct img{
	width:64px;
	height : 64px;
}

ul.prodLines {
	list-style:none;
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
	border-bottom : 1px solid black;
}
ul.prodLines li{
	margin:auto;
}

ul.prodLines li p{
	text-align:center;
}

img.prodLineShow{
	vertical-align:middle;
}